# Build output (scripts/build.*)
/dist/

# Downloaded front-end runtime (dev/download-deps.*)
/vendor/
templates/*/preact-htm-standalone.module.js
templates/mobilemule/onsen-css-components.min.css
templates/mobilemule/dark-onsen-css-components.min.css
templates/bootstrap/bootstrap.min.css
templates/bootstrap/bootstrap-reboot.min.css
templates/emodernui/bootstrap.min.css
templates/emodernui/glyphicons-halflings-regular.*
